.demoEmpty{
  height: calc(100vh - 48rpx);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 32rpx;
  .demoEmptyImg {
    width: 360rpx;
    height: 360rpx;
    margin-bottom: 64rpx;
  }
  .demoEmptyTitleText {
    color: rgba(0,0,0,.5);
    font-size: 32rpx;
    text-align: center;
  }
}