:root {
  /* 首页样式 */
  --page-main-bg: #f6f7fb; // 页面背景色
  --page-main-content: #ffffff; // 页面区域内容背景色
  --header-bg: #ffffff; // 标题背景色
  --page-color: #000000; // 页面标准字体颜色
  --page-main-content-hover: #fbfbfb; // 页面区域内容hover背景色
  --page-main-content-active: #f1f1f1; // 页面区域内容active背景色
  --page-main-icon-bg: rgba(0, 0, 0, 0.05); // icon背景圆背景色
  --page-main-icon-border: rgba(0, 0, 0, 0.05); // icon边框颜色
  --page-main-icon-color: #000000; // icon色
  --divide-line: #f5f5f5; // 分割线
  --page-bottom-menu-bg: #ffffff;
  --page-second-icon-color: #aaaaaa; // 二级页icon色
  --popup-com-desc-color: rgba(0, 0, 0, 0.5); // popup组件描述文字颜色
  --popup-com-title-color: #000000; // popup组件描述标题颜色
  --feature-switch-circle-bg: #e5e5e5; // 圆开关背景色
  --feature-switch-circle-icon-color: #1a1a1a; // 圆开关icon色
  --card-item-bg-n9: rgba(0, 0, 0, 0.05);
  --tab-menu-item-active-bg: #ffffff; // tab菜单项active背景色
  --tab-menu-bg: #eeeeee; // tab背景色
  --collect-point-empty-tip-color: #b2b2b2; // 收藏点空提示文字颜色
  --collect-point-empty-icon-color: #b2b2b2; // 收藏点空图标颜色
  --card-item-bg-n8: rgba(0, 0, 0, 0.1);
  --card-txt-n1: #000000;
  --card-txt-n2: rgba(0, 0, 0, 0.7);
  --card-txt-n3: rgba(0, 0, 0, 0.5);
  --card-txt-n6: rgba(0, 0, 0, 0.2);
  --danger-color: #FF3838;

  // smart-ui css 变量修改
  --cell-font-size: 32rpx;
  --button-small-height: 78rpx;
  --button-small-font-size: 28rpx;
  --empty-title-margin-top: 32rpx;
  --empty-title-font-size: 28rpx;
  --empty-title-font-weight: 600;
  --empty-description-font-size: 24rpx;
  --empty-description-margin-top: 14rpx;



  // 字体图标
  .iconfont {
    margin: 0 !important;
  }
}

:root[theme='dark'] {
  /* 首页样式 */
  --page-main-bg: #000000; // 页面背景色
  --page-main-content: #1a1a1a; // 页面区域内容背景色
  --header-bg: #1a1a1a; // 标题背景色
  --page-color: #ffffff; // 页面标准字体颜色
  --page-main-content-hover: #201f1f; // 页面区域内容hover背景色
  --page-main-content-active: #222020; // 页面区域内容active背景色
  --page-main-icon-bg: rgba(255, 255, 255, 0.05);
  --page-main-icon-border: rgba(255, 255, 255, 0.1); // icon边框颜色
  --page-main-icon-color: #ffffff; // icon色
  --divide-line: #262626; // 分割线
  --page-bottom-menu-bg: #262626;
  --page-second-icon-color: #8d8d8d; // 二级页icon色
  --popup-com-desc-color: rgba(255, 255, 255, 0.5); // popup组件描述文字颜色
  --popup-com-title-color: #ffffff; // popup组件描述标题颜色
  --feature-switch-circle-bg: #5f5f5f; // 圆开关背景色
  --feature-switch-circle-icon-color: #ffffff; // 圆开关背景色
  --card-item-bg-n9: rgba(255, 255, 255, 0.05);
  --tab-menu-item-active-bg: #191919; // tab菜单项active背景色
  --tab-menu-bg: #000000; // tab背景色
  --collect-point-empty-tip-color: rgba(255, 255, 255, 0.5); // 收藏点空提示文字颜色
  --collect-point-empty-icon-color: #5f5f5f; // 收藏点空图标颜色
  --card-item-bg-n8: rgba(255, 255, 255, 0.1);
  --card-txt-n1: #ffffff;
  --card-txt-n2: rgba(255, 255, 255, 0.7);
  --card-txt-n3: rgba(255, 255, 255, 0.5);
  --card-txt-n6: rgba(0, 0, 0, 0.2);
  --danger-color: #FF3838;
}

.marginBottom0 {
  margin-bottom: 0 !important;
}

.marginTop0 {
  margin-top: 0 !important;
}

.padding-right-29 {
  padding-right: 58rpx !important;
}

.padding-left-29 {
  padding-left: 58rpx !important;
}

.ellipsis {
  white-space: nowrap; /* 防止文本换行 */
  overflow: hidden;    /* 隐藏溢出文本 */
  text-overflow: ellipsis; /* 在溢出时显示省略号 */
}

.smart-empty__description {
  text-align: center;
}