.container {
  display: flex;
  flex-direction: row;
}

.columnBox {
  display: flex;
  align-items: center;
  border-right-color: #f8f8f8;
  border-right-width: 2rpx;
  flex-direction: column;
}

.colBox {
  display: flex;
  align-items: center;
  border-bottom-color: #f8f8f8;
  border-bottom-width: 2rpx;
  flex-direction: column;
  height: 112rpx;
  justify-content: center;
  width: 200rpx;
}

.colText {
  color: rgba(0, 0, 0, 0.45);
  font-size: 24rpx;
  font-weight: 400;
  max-width: 200rpx;
  text-align: center;
}
