:global(.picker__smart-picker) {
  background-color: transparent !important;
}

.textBox {
  display: flex;
  flex-direction: column;
  margin-top: 72rpx;
}

.headTitle {
  font-size: 56rpx;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 18rpx;
}

.subTitle {
  font-size: 32rpx;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 156rpx;
}

.date {
  width: 670rpx;
  height: 564rpx;
  background-color: transparent;
}

.buttonBox {
  display: flex;
  width: 670rpx;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 108rpx;
  z-index: 2;
}

.bottomButton {
  display: flex;
  width: 320rpx;
  height: 96rpx;
  border-radius: 48rpx;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonText {
  font-size: 32rpx;
  color: #ffffff;
}

.picker {
  background-color: transparent;
}
