.containerStyle {
  position: relative;
  width: 680rpx;
  height: 60rpx;
  border-radius: 30rpx;
  padding: 6rpx 6rpx;
  margin-top: 24rpx;
  margin-bottom: 20rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(171, 171, 171, 0.1);
}

.buttonCheckedStyle {
  width: 220rpx;
  height: 48rpx;
  border-radius: 24rpx;

  overflow: hidden;
  background-color: #ffffff;
}

.dateBox {
  height: 60rpx;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100rpx;
  margin-right: 100rpx;
}

.modeActiveBgBox {
  position: absolute;
  top: 6rpx;
  left: 6rpx;
  transition: all 0.3s;
}

.dateText {
  font-size: 24rpx;
}

.singleDate {
  width: 220rpx;
  height: 48rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
