.topBar {
  display: flex;
  align-items: center;
  padding: 0 144rpx 0 32rpx;
  height: 78rpx;
  width: 100vw;
  justify-content: space-between;
  color: var(--theme-text-color);

  .title {
    font-size: 34rpx;
    flex: 1;
    text-align: center;
  }

  :global(.icon-panel-angle-left) {
    font-size: 48rpx;
    color: var(--theme-text-color);
  }
}

.title {
  font-size: 44rpx;
  font-weight: 600;
  color: var(--theme-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subTitle {
  font-weight: 600;
  font-size: 32rpx;
  color: var(--theme-text-color);
}
