.topBarWrap {
  color: var(--index-title-color);
  background-color: var(--index-title-bg);

  .topBar {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34rpx;
    flex-direction: column;
    font-weight: bold;
    width: 100vw;
    position: relative;
  }

  .statusBar {
    height: 20px;
    // background-color: transparent;
  }
  .leftIcon {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
