@class-prefix-ray-svg: ~'ray-svg';

.@{class-prefix-ray-svg} {
  box-sizing: border-box;
  &-image {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

@class-prefix-ray-icon: ~'ray-icon';

.@{class-prefix-ray-icon} {
  display: inline-block;
}
