page {
  overflow-y: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  color: var(--app-B4-N1, #000);
  font-size: 32rpx;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC',
    'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  background: var(--app-B1, #f6f7fb);
  -webkit-font-smoothing: antialiased;

  --switch-on-background-color: var(--app-M1);

  --switch-width: 48px;
  --switch-height: 28px;
  --switch-node-size: 28px;
  --picker-background-color: transparent;
  --picker-padding: 0;
}

:root,
:root[theme='dark'] {
}

.hover {
  opacity: 0.7;
}

.ray-svg-image {
  background-repeat: no-repeat;
}
