.myCard {
  border: 2rpx solid var(--app-B3-N7);
  padding: 16rpx;
  background: var(--app-B3);
  border-radius: 32rpx;
  color: var(--app-B3-N1);
}


.title {
  margin-bottom: 16rpx;
  font-weight: bold;
  text-align: center;
}

.content {
  background: var(--app-B1);
  padding: 12rpx;
  font-size: 24rpx;
  margin-bottom: 16rpx;
  border-radius: 16rpx;

  color: var(--app-B1-N1);
}
