.container {
}

.itemStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140rpx;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 32rpx;
  padding: 42rpx 48rpx;
  margin-bottom: 16rpx;
}

.labelStyle {
  font-size: 14px;
}

.titleStyle {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: 140rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textStyle {
  color: #ffffff;
  font-size: 12px;
  margin-right: 4rpx;
}