.content {
  padding: 32rpx;
  border-radius: 32rpx;
  background-color: var(--card-item-bg-n9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  &.playing {
    border: 1px solid var(--brandColor);
  }
  .imageBox {
    width: 162rpx;
    height: 92rpx;
    background-color: var(--card-item-bg-n9);
  }
  .img {
    width: 162rpx;
    height: 92rpx;
    border-radius: 8rpx;
    background-color: var(--card-item-bg-n9);
    display: block;
  }
  .jumpBtn {
    display: flex;
    align-items: center;
    font-size: 24rpx;
    color: var(--card-txt-n3);
    display: flex;
  }
}