.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background: var(--page-main-bg);
}

.scrollView {
    padding: 32rpx;
    display: flex;
}

.collect {
    // background: var(--page-main-bg);
}

.collect_edit {
    color: var(--page-color);
    background: var(--page-main-content);
}

.collect_edit_box {
    border-bottom: 1px solid var(--divide-line);
}

.collect_edit_box:last-child {
    border-bottom: none;
}

.loading_text {
    color: var(--index-title-color);
    font-size: 28rpx;
    margin-top: 32rpx;
}