.schedule-radio {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 52rpx;
  height: 52rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-circle {
  width: 52rpx;
  height: 52rpx;
  border-radius: 50%;
  background: #0D84FF;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
