:root {
   /* @ray-js/smart-ui */
   --button-primary-background-color: #FFD974;
   --button-primary-border-color: #FFD974;
   --button-primary-color: #3D3D3D;
   --button-default-height: 80rpx;
   --button-mini-height: 48rpx;
   --button-default-border-color: #FFD974;
   --button-default-color: #FFB53E;
   --index-anchor-active-background-color: #F9F9F9;
   --index-anchor-background-color: #F9F9F9;
   --popup-close-icon-size: 40rpx;
   --popup-close-icon-z-index: 100;
   --popup-close-icon-color: #969799;
   --icon-color: rgba(0, 0, 0, .7);

  /* 首页样式 */
  --index-main-bg: #FFFFFF; // 页面底色
  --index-title-bg: #FFFFFF; // title背景
  --index-title-color: #000000E5; // title字体色
  --index-footer-bar-bg: #FFFFFF; // 底部操作栏底色
  --index-icon-color: rgba(0, 0, 0, 0.5); // 图标颜色

  --pet-center-theme-color: #ffdc80;

  // 字体图标
  .iconfont {
    margin: 0 !important;
  }
}

:root[theme='dark'] {
  /* 首页样式 */
  --index-main-bg: #000000; // 页面底色
  --index-title-bg: #000000; // title背景
  --index-title-color: #FFFFFF; // title字体色
  --index-footer-bar-bg: rgb(26, 25, 25); // 底部操作栏底色
  --index-icon-color: rgba(255, 255, 255, 0.5); // 图标颜色
}

.space-y-4>:not([hidden])~:not([hidden]) {
  margin-top: 32rpx;
  margin-bottom: 0;
}