.ray-recycle-view_header {
  width: 100%;
  z-index: 100;
}

.ray-recycle-view_wrapper {
  position: relative;
}

.ray-recycle-view_content {
  position: absolute;
  left: 0;
  width: 100%;
}

.ray-recycle-view_bottom {
  width: 100%;
}
