.container {
  display: flex;
  width: 670rpx;
  height: auto;
  border-radius: 28rpx;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  padding-top: 24rpx;
  overflow: hidden;
  margin-bottom: 24rpx;
}

.wordBox {
  margin-left: 40rpx;
}

.chartBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.today {
  font-size: 36rpx;
  font-weight: 600;
  color: rgba(0, 30, 62, 0.7);
  margin-bottom: 16rpx;
  line-height: 64rpx;
}

.averageTitle {
  font-size: 24rpx;
  font-weight: 500;
  color: #8c9aa8;
  line-height: 34rpx;
}

.avgBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.singleAvgBox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.singleTypeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bpValue {
  font-size: 48rpx;
  font-weight: 600;
  color: rgba(0, 30, 62, 1);
  line-height: 66rpx;
}

.bpTitle {
  font-size: 24rpx;
  color: #8c9aa8;
  line-height: 34rpx;
}

.littleCircle {
  width: 16rpx;
  height: 16rpx;
  border-radius: 8rpx;
  margin-right: 8rpx;
}

.addBox {
  display: flex;
  width: 670rpx;
  height: 100rpx;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
