.selectModalBox {
  border-top-left-radius: 30rpx;
  border-top-right-radius: 30rpx;
  background-color: #f6f7fb;
  max-height: 1400rpx;
}

.selectModalHeaderBox {
  height: 128rpx;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.selectModalHeaderTitleBox {
  font-weight: 600;
  font-size: 36rpx;
  text-align: center;
  width: 100%;
}

.selectModalHeaderRightBox {
  position: absolute;
  right: 0;
  padding-left: 30rpx;
  padding-right: 30rpx;
}

.selectModalHeaderRightText {
  font-weight: 600;
  font-size: 32rpx;
}

.selectModalContainerBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selectModalContainerItemBox {
  margin: 30rpx;
  position: relative;
}

.selectModalContainerImageBox {
  height: 164rpx;
  width: 164rpx;
}

.selectModalContainerImageIcon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 20rpx;
}
