:root {
  text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      sans-serif;
  }

  --panel-theme-color: #3a9;
  --button-primary-background-color: var(--panel-theme-color);
  --button-primary-border-color: var(--panel-theme-color);

  .smart-grid-item__text {
    text-align: center;
  }
}

page {
  overflow-y: hidden;
}

@import url('./iconfont/iconfont.css');
