.container {
  background-color: var(--app-B1);
  width: 100%;
  display: flex;
  justify-content: center;
}
.bannerContainer {
  margin-top: 54rpx;

  .swiper {
    width: 686rpx;
    height: 180rpx;
    border-radius: 32rpx;
  }
  .swiperItem {
    width: 686rpx;
    height: 180rpx;
    display: block;
    border-radius: 32rpx;
  }
  .nested {
    width: 686rpx;
    height: 360rpx;
  }
  .nestedItem {
    width: 686rpx;
    height: 360rpx;
  }
  .nestedSwiper {
    width: 686rpx;
    height: 180rpx;
  }
  .carTestView {
    padding: 34rpx 40rpx 54rpx 40rpx;
    background-color: var(--index-card-color);
    width: 686rpx;
    height: 180rpx;
    border-radius: 32rpx;
  }
  .testItem {
    margin-bottom: 8rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 28rpx;
  }
  .testTime {
    font-size: 24rpx;
    font-weight: 500;
    line-height: 28rpx;
    color: var(--index-card-text-color);
  }
  .testIcon {
    width: 32rpx;
    height: 32rpx;
    margin-right: 12rpx;
  }
  .testResult {
    display: flex;
    align-items: center;
    height: 56rpx;
  }
  .errorText {
    color: rgba(255, 68, 68, 1);
  }
}
