.container {
  width: 640rpx;
}

.bubbleBox {
  width: 176rpx;
  height: 70rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bgBubble {
  width: 176rpx;
  height: 70rpx;
  position: absolute;
  -webkit-mask-size: 100% 100%;
}

.typeText {
  font-size: 28rpx;
  font-weight: 500;
  color: #ffffff;
  max-width: 160rpx;
  margin-bottom: 14rpx;
  z-index: 1;
}

.colorItem {
  width: 92rpx;
  height: 12rpx;
}

.colorBarBox {
  width: 640rpx;
  height: 28rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 40rpx;
  padding-right: 40rpx;
  margin-top: 14rpx;
}

.circle {
  width: 28rpx;
  height: 28rpx;
  border-radius: 14rpx;
  background-color: #ffffff;
  position: absolute;
  border-width: 4rpx;
  margin-top: 14rpx;
}
