.timePicker {
  margin-top: 48rpx;
  width: 640rpx;
  align-self: center;

  :global(.smart-picker-column) {
    font-size: 48rpx;
  }
  :global(.smart-picker__columns) {
    justify-content: center;
  }
  :global(.smart-picker__column) {
    flex: 0 0 23%;
    width: 23%;
  }
}
.scroll {
  flex: 1;
  width: 100vw;
  height: 400px;
}

.deleteBtn {
  font-size: 28rpx;
  color: #ff4444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140rpx;
}


.menuCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
