:root {
  --theme-color: #37c3ac;
  --theme-but-color: #2ca7ff;
  --nav-bar-background-color: transparent;
  --hairline-bottom-width: 0;

  --theme-bg: linear-gradient(180deg, #008488, #00b996);
  --theme-bg-standby: #303e4c;
}

page {
  overflow-y: hidden;
}
