.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 28rpx 28rpx 28rpx 48rpx;
  text-align: left;

  font-size: 32rpx;
  font-weight: 400;
  color: var(--app-B6-N1, #191919);
  border-bottom: 1rpx solid var(--app-B6-N7, rgba(0, 0, 0, 0.7));
  background-color: var(--popup-cell-item-color, var(--app-B6, #fff));
}
.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subTitle {
  font-size: 20rpx;
  opacity: 0.5;
}

.icon {
  border-radius: 50%;
  background-color: var(--app-M1);
  margin-right: 32rpx;
}
