.container {
  width: 670rpx;
  height: 1132rpx;
  border-radius: 28rpx;
  background-color: #ffffff;
  padding-left: 112rpx;
  padding-right: 112rpx;
  margin-bottom: 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noDataPic {
  width: 448rpx;
  height: 448rpx;
  margin-bottom: 20rpx;
}

.noDataText {
  font-size: 24rpx;
  color: #596d81;
  max-width: 400rpx;
}
