.scroll {
  height: calc(100% - 216rpx);
  padding-top: 24rpx;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24rpx;
}

.bloodPressureWrapper {
  height: 600rpx;
  padding-top: 60rpx;
  border-radius: 28rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.picker {
  width: 672rpx;
}

.rectWrapper {
  margin-top: 24rpx;
}

.bottomButtonBg {
  width: 750rpx;
  height: 216rpx;
  padding: 0 40rpx;
  position: absolute;
  bottom: 0;
}

.bottomButton {
  width: 670rpx;
  height: 96rpx;
  border-radius: 48rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonText {
  font-size: 28rpx;
  color: #ffffff;
}

.iconWrapper {
  opacity: 0.4;
  margin-left: 16rpx;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 224rpx;
}

.cellGroupContainer {
  margin: 0 !important;
}
