.timePicker {
  margin-top: 48rpx;
}
.scroll {
  flex: 1;
  width: 100vw;
  height: 400px;
}

.deleteBtn {
  font-size: 32rpx;
  color: #ff4444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140rpx;
}

.menuCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
