.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 100;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 320rpx;

  background-color: #ffffff;
}

.footerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32rpx 48rpx 0;
  align-items: center;

  .btn {
    font-weight: 700;
    text-align: center;
  }
}

.gridItem {
  width: 112rpx;
  height: 112rpx !important;
  border-radius: 56rpx;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 112rpx;
  width: 112rpx;
}
