.topBarWrap {
  // color: var(--index-title-color);
  // background-color: var(--index-title-bg);
  color: var(--app-B1-N1);
  background-color: var(--app-B1);

  .topBar {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32rpx;
    flex-direction: row;
    font-weight: bold;
    width: 100vw;
    position: relative;
  }
  .leftIcon {
    position: absolute;
    left: 20rpx;
    width: 48rpx;
    height: 48rpx;
  }
  .statusBar {
    height: 20px;
    // background-color: transparent;
  }
}
