.container {
  height: auto;
  border-radius: 28rpx;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.frequencyBoxWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.frequencyBox {
  width: 250rpx;
  height: 34rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16rpx;
}

.colorBox {
  width: 28rpx;
  height: 28rpx;
  border-radius: 4rpx;
  margin-right: 16rpx;
}

.typeText {
  font-size: 24rpx;
  color: rgba(0, 0, 0, 0.9);
  flex-shrink: 1;
}

.typeBox {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}
