.hollow-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64rpx 0;

  &-outside-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 480rpx;
    height: 480rpx;
    border-radius: 50%;
  }

  &-inner-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 360rpx;
    height: 360rpx;
    border-radius: 50%;
    background-color: #F6F7FB;
  }
}
