@import '../../mixins.less';

.container {

  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    height: 220rpx;
    width: 220rpx;
  }

  .text {
    display: block;
    margin-top: 16rpx;
    font-size: 28rpx;
    color: rgba(0, 0, 0, 0.5);
    max-width: 300px;
  }

  .btn {
    min-width: 400rpx;
    margin-top: 68rpx;
  }
}
