@import '@/variables.less';

page {
  overflow-y: hidden;
}

.smart-nav-bar {
  --nav-bar-background-color: transparent;
  width: 100vw;

  &:after {
    border: none !important;
  }
}

.dialog-select-popup {
  width: 702rpx !important;
  margin-left: calc((100vw - 702rpx) / 2) !important;
  border-radius: 48rpx;
}
