.container {
  width: 670rpx;
  height: 144rpx;
  border-radius: 28rpx;
  background-color: #ffffff;
  margin-bottom: 24rpx;
}

.buttonBox {
  width: 670rpx;
  height: 144rpx;
  border-radius: 28rpx;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40rpx;
  padding-right: 40rpx;
  display: flex;
}

.title {
  font-weight: 600;
  font-size: 28rpx;
  color: rgba(0, 0, 0, 0.8);
}

.arrow {
  width: 14rpx;
  height: 24rpx;
  margin-left: 18rpx;
}

.text {
  font-size: 28rpx;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
