.arr {
  color: #f84d19;
  font-size: 24rpx;
}

.cancel {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28rpx;
  width: 100rpx;
}

.checkBox {
  display: flex;
  align-items: center;
  background-color: transparent;
  flex-direction: row;
  height: 80rpx;
  justify-content: center;
  width: 80rpx;
}

.columnLine {
  background-color: #e5e5e5;
  height: 112rpx;
  width: 2rpx;
}

.container {
  background-color: #ffffff;
  border-top-left-radius: 32rpx;
  border-top-right-radius: 32rpx;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 84rpx;
  width: 750rpx;
}

.dataBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60rpx;
  justify-content: center;
  width: 80rpx;
}

.dataNumber {
  color: #001e3e;
  font-size: 40rpx;
  font-weight: 600;
  height: 40rpx;
  line-height: 40rpx;
}

.dataType {
  color: #8c9aa8;
  font-size: 20rpx;
  height: 28rpx;
  line-height: 28rpx;
  margin-bottom: 8rpx;
}

.emptyBox {
  width: 100rpx;
}

.flatListBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 80rpx;
}

.flatListFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750rpx;
}

.footText {
  font-size: 32rpx;
}

.footerBox {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  bottom: 0;
  flex-direction: row;
  height: 112rpx;
  justify-content: space-between;
  padding-left: 16rpx;
  padding-right: 16rpx;
  position: absolute;
  width: 750rpx;
}

.headBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 112rpx;
  justify-content: space-between;
  padding-left: 40rpx;
  padding-right: 40rpx;
  width: 750rpx;
}

.headTitle {
  color: #7f7f7f;
  font-size: 28rpx;
}

.measureDate {
  color: #8c8c8c;
  font-size: 24rpx;
  margin-right: 16rpx;
}

.noData {
  color: #a6a6a6;
  font-size: 24rpx;
  margin-top: 32rpx;
}

.renderContainer {
  display: flex;
  align-items: center;
  border-bottom-color: #f2f2f2;
  border-bottom-width: 2rpx;
  flex-direction: row;
  height: 186rpx;
  justify-content: space-between;
  margin-left: 40rpx;
  padding-right: 40rpx;
  width: 710rpx;
}

.textbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 44rpx;
  justify-content: center;
  width: 342rpx;
}

.threeValueBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60rpx;
  justify-content: space-between;
  margin-bottom: 22rpx;
  width: 288rpx;
}

.timerAndArr {
  display: flex;
  flex-direction: row;
}
