.operation-guide-title {
  margin: 40rpx 20rpx;
  padding-bottom: 20rpx;
  line-height: 60rpx;
  font-weight: bold;
  font-size: 40rpx;
  color: var(--theme-text-color);
  border-bottom: 1px dashed var(--theme-text-color);
}

.operation-guide-tips {
  font-weight: bold;
  line-height: 60rpx;
  font-size: 32rpx;
  color: var(--theme-text-color);
  margin-bottom: 20rpx;
  padding: 0 40rpx;
}

.operation-guide-way-container {
  margin-bottom: 20rpx;
  padding: 0 40rpx;
  line-height: 60rpx;
}

.operation-guide-way-label {
  font-weight: bold;
  font-size: 32rpx;
  color: var(--theme-text-color);
}

.operation-guide-way {
  font-size: 30rpx;
  color: var(--index-text-color-alpha9);
}
