.container {
  position: relative;
  height: 100vh;
  --popup-background-color: #f8f8f8;
  .popupContainer {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    .popupHeader {
      font-size: 34rpx;
      line-height: 60rpx;
      font-weight: 600;
      color: #000000;
      padding: 38rpx 0;
      text-align: center;
    }
    .popupContent {
      flex: 1;
      padding: 0 32rpx;

      .card {
        border-radius: 16rpx;
        background: #ffffff;
        padding: 32rpx;
        margin-bottom: 20rpx;
      }
      .title {
        font-size: 32rpx;
        line-height: 44rpx;
        font-weight: normal;
        color: #000000;
        margin-bottom: 36rpx;
      }
      .input {
        background: rgba(0, 0, 0, 0.03);
        border-radius: 24rpx;
        border: none;
        font-size: 28rpx;
        line-height: 40rpx;
        color: #000000;
        height: 88rpx;
        padding: 0 32rpx;
      }
    }
  }
  .buttonContainer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 32rpx 0 64rpx 0;
    background: #f8f8f8;
    z-index: 10;
    .button {
      margin: 0 auto;
      display: block;
      width: 686rpx;
      height: 96rpx;
      border-radius: 200rpx;
      background: #239c8e;
      border-color: #239c8e;
      :global(.smart-button__text) {
        font-size: 32rpx;
        line-height: 90rpx;
        font-weight: normal;
        color: #ffffff;
      }
    }
  }
}
