.topBarWrap{
  // color: var(--index-title-color);
  // background-color: var(--index-title-bg);
  background-color: var(--app-B1);
  color: var(--app-B1-N1);

  
  .topBar {
    height: 88rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34rpx;
    flex-direction: row;
    font-weight: bold;
    width: 100vw;
    padding-left: 36rpx;
    padding-right: 32rpx;
  }
  .topBarText {
    font-size: 36rpx;
    font-weight: 600;
    line-height: 8henry 4rpx;
    color: var(--app-B1-N1);
    max-width: 480rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .statusBar{
    height: 20px;
    // background-color: transparent;
  }
  .icon {
    width: 48rpx;
    height: 48rpx;
  }
  
}
