// Theme Palette
@M1: var(--app-M1, #3678e3); // 用于按钮、品牌露出
@M2: var(--app-M2, #f04c4c); // 用于强警告、提示信息
@M3: var(--app-M3, #2dda86); // 用于成功、开关、推荐等
@M4: var(--app-M4, #1989fa); // 用于正向引导、按钮文字、链接等
@M5: var(--app-M5, #ffa000); // 用于轻度警告、提示信息
@B1: var(--app-B1, #f6f7fb); // 背景色
@B2: var(--app-B2, #ffffff); // 顶部导航栏
@B3: var(--app-B3, #ffffff); // 卡片
@B4: var(--app-B4, #ffffff); // 弹窗
@B5: var(--app-B5, #ffffff); // 底部导航栏
@B6: var(--app-B6, #ffffff); // 列表
@B4-N1: var(--app-B4-N1, rgba(0, 0, 0, 1)); // 弹窗 N1 字体色
@B4-N2: var(--app-B4-N2, rgba(0, 0, 0, 0.7)); // 弹窗 N2 字体色
@B4-N3: var(--app-B4-N3, rgba(0, 0, 0, 0.5)); // 弹窗 N3 字体色
@B4-N4: var(--app-B4-N4, rgba(0, 0, 0, 0.4)); // 弹窗 N4 字体色
@B4-N5: var(--app-B4-N5, rgba(0, 0, 0, 0.3)); // 弹窗 N5 字体色
@B4-N6: var(--app-B4-N6, rgba(0, 0, 0, 0.2)); // 弹窗 N6 字体色
@B4-N7: var(--app-B4-N7, rgba(0, 0, 0, 0.1)); // 弹窗 N7 字体色
@B4-N8: var(--app-B4-N8, rgba(0, 0, 0, 0.05)); // 弹窗 N8 字体色
@B5: var(--app-B5, #f6f7fb); // 底部导航栏
@B6: var(--app-B6, #fff); // 列表色
@B6-N1: var(--app-B6-N1, rgba(0, 0, 0, 1)); // 列表 N1 字体色
@B6-N2: var(--app-B6-N2, rgba(0, 0, 0, 0.7)); // 列表 N2 字体色
@B6-N3: var(--app-B6-N3, rgba(0, 0, 0, 0.5)); // 列表 N3 字体色
@B6-N4: var(--app-B6-N4, rgba(0, 0, 0, 0.4)); // 列表 N4 字体色
@B6-N5: var(--app-B6-N5, rgba(0, 0, 0, 0.3)); // 列表 N5 字体色
@B6-N6: var(--app-B6-N6, rgba(0, 0, 0, 0.2)); // 列表 N6 字体色
@B6-N7: var(--app-B6-N7, rgba(0, 0, 0, 0.1)); // 列表 N7 字体色
@B6-N8: var(--app-B6-N8, rgba(0, 0, 0, 0.05)); // 列表 N8 字体色
