.header {
  width: 670rpx;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 24rpx;
  padding-bottom: 24rpx;
  position: absolute;
}

.bloodPressureWrapper {
  margin-top: 180rpx;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100% - 180rpx);
}

.bloodPressureChart {
  height: 702rpx;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80rpx;
  border-radius: 28rpx;
}

.noDataPic {
  width: 448rpx;
  height: 448rpx;
  margin-bottom: 24rpx;
}

.addManually {
  height: 124rpx;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-top: 24rpx;
  flex-direction: row;
  justify-content: center;
  border-radius: 28rpx;
}

.batteryBox {
  width: 48rpx;
  height: 48rpx;
  border-radius: 12rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transform: rotate(90deg);
}

.topIconBox {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listContainer {
  background-color: transparent;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.footerBox {
  height: 60rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rpx;
}

.footerText {
  font-size: 24rpx;
  color: #a6a6a6;
}

.noDataTip {
  max-width: 500rpx;
  color: rgba(0, 30, 62, 0.65);
  font-size: 24rpx;
}
