.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  line-height: 100rpx !important;
}

.tabWrap {
  height: 100rpx !important;
  width: 600rpx !important;
}

.nav {
  height: 100rpx !important;
}
