.container {
  border-radius: 28rpx;
  padding-left: 40rpx;
  padding-right: 40rpx;
  padding-top: 36rpx;
  display: flex;
  flex-direction: column;
}

.textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleText {
  font-size: 32rpx;
  font-weight: 600;
  height: 50rpx;
  line-height: 50rpx;
  color: #001e3e;
}

.numberText {
  font-size: 40rpx;
  height: 56rpx;
  line-height: 56rpx;
  color: #001e3e;
  font-weight: 500;
}

.chartBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
