.bottomButtonBg {
  width: 750rpx;
  height: 216rpx;
  padding: 0 40rpx;
  position: absolute;
  bottom: 0;
}

.container {
  background-color: #ffffff;
  border-radius: 28rpx;
  margin-bottom: 20rpx;
}

.buttonBox {
  width: 670rpx;
  border-radius: 28rpx;
}

.buttonBoxUp {
  display: flex;
  width: 670rpx;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40rpx;
}

.userMessage {
  display: flex;
  height: 66rpx;
  flex-direction: row;
  align-items: center;
}

.nameBox {
  display: flex;
  margin-left: 28rpx;
  flex-direction: row;
}

.userName {
  font-size: 28rpx;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  line-height: 48rpx;
}

.rowLine {
  width: 670rpx;
  height: 2rpx;
  background-color: #f2f4f5;
}

.nowUser {
  display: flex;
  min-width: 68rpx;
  height: 38rpx;
  border-radius: 20rpx;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 28rpx;
  padding: 0 8rpx;
}

.bottomButton {
  display: flex;
  width: 670rpx;
  height: 96rpx;
  border-radius: 48rpx;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonText {
  font-size: 28rpx;
  color: #ffffff;
}
