@import 'src/mixins.less';

.topbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 88rpx;
  padding: 0 40rpx;
}

.topbarText {
  font-style: normal;
  font-weight: 600;
  font-size: 48rpx;
  line-height: 88rpx;
  color: #000000;

  .ellipsis(520rpx);
}

.menuBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusBar {
  height: 20px;
}
