.block {
  background-color: #ffffff;
  border-radius: 16rpx;
  margin-bottom: 20rpx;
  margin-top: 32rpx;
  padding-bottom: 20rpx;
  padding: 0 32rpx;
  padding-top: 40rpx;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 26rpx 0;
}

.saveBtn {
  display: flex;
  align-items: center;
  border-radius: 200rpx;
  bottom: 100rpx; /* Note: Adjust this manually if you need to support dynamic conditions like isIphoneX */
  height: 96rpx;
  justify-content: center;
  margin: 0 40rpx;
  position: absolute;
  width: 670rpx;
}

.saveTxt {
  color: #fff;
  font-size: 32rpx;
}

.title {
  font-size: 32rpx;
  font-weight: 500;
}

.unSelected {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 18rpx;
  border-width: 2rpx;
  height: 36rpx;
  width: 36rpx;
}
