.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--page-color);
  .layoutContent{
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--page-main-bg);
    padding: 0 30rpx;
    .cellGroupContainer {
      margin: 30rpx 0;
      border-radius: 30rpx;
      overflow: hidden;
    }
  }
}

.marginTop0 {
  margin-top: 0 !important;
}

.marginBottom0 {
  margin-bottom: 0 !important;
}

.checkedIcon {
  font-size: 40rpx;
  padding: 20rpx 0;
}

.valueClass  {
  min-width: 160rpx;
  max-width: 200rpx !important;
}

.cellContainer {
  padding: 32rpx !important;
}

.cellTitle {
  font-size: 28rpx;
}

.cellSubTitle {
  font-size: 24rpx !important;
  line-height: 36rpx !important;
  margin-top: 6rpx !important;
}