.banner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 28rpx;
  height: 564rpx;
}

.swiper {
  height: 100%;
}
