.selectorBox {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.header {
  height: 112rpx;
  border-bottom-width: 2rpx;
  border-bottom-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerText {
  font-size: 28rpx;
  color: #7f7f7f;
}

.singleSelector {
  width: 220rpx;
  height: 72rpx;
  border-radius: 16rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16rpx;
}

.container {
  width: 750rpx;
  padding-bottom: 8rpx;
  border-top-right-radius: 28rpx;
  border-top-left-radius: 28rpx;
  overflow: hidden;
  background-color: #ffffff;
}

.footerBox {
  width: 750rpx;
  height: 112rpx;
  padding-left: 16rpx;
  padding-right: 16rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30rpx;
}

.textbox {
  width: 342rpx;
  height: 44rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footText {
  font-size: 32rpx;
}

.columnLine {
  width: 2rpx;
  height: 48rpx;
  background-color: #e5e5e5;
}
