.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.bottomMenuBar {
  position: absolute;
  bottom: 0;
  padding-bottom: 32rpx;
  width: 100vw;
  z-index: 100;
  background-color: #ffffff;
}

.item {
  width: 112rpx;
  height: 112rpx !important;
  border-radius: 56rpx;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 112rpx;
  width: 112rpx;
}
